.logo a {
  display: block;
  width: 128px;
  height: auto;
  background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/d’Perfume.png);
  /* 圖片取代文字技巧 */
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
